.track {
  font-weight: normal;
}

.this_track {
  font-weight: bold;
}

.track td:nth-child(3) {
  text-align: end;
}

.this_track td:nth-child(3) {
  text-align: end;
}

.track td a:hover {
  color: var(--primary-color);
}

.this_track td a:hover {
  color: var(--primary-color);
}