html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1DB954;
  --primary-light-color: #1ed760;
  --light-bg-color: white;
  --dark-bg-color: #191414;
}

.preview-audio-player::-webkit-media-controls-panel {
  background-color: var(--primary-color); 
  width: 290px;
}

.glassy-background {
  backdrop-filter: blur(15.1px);
  -webkit-backdrop-filter: blur(15.1px);
}
